body {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    border: 1px solid #DEDEDE;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #443737;
}
.button-item {
    position: relative;
}
.button-count {
    font-family: 'Lato';
    font-style: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    position: absolute;
    text-align: center;
    bottom: 3px;
    right: -4px;
}
.bg {
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0px;
    color: #FFFFFF;  
    margin-bottom: 140px;
}
.breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.breadcrumbs a {
font-family: 'Open Sans';
font-weight: 400;
font-size: 15px;
color: #DEDEDE;
text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}    
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    line-height: 108px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px;
    margin-bottom: 80px;

}
.banner-title { 
    max-width: 157px;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}
.banner-title span {
    display: block;
    max-width: 58px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 19px;
    background: #F37335;
    border-radius: 14px;
    margin-bottom: 7px;
}
.banner-text {
    max-width: 307px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
    margin-top: 13px;
    margin-bottom: 16px;
}
.banner-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1E2F40;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 25px;
    display: inline-block;
    background-color: #FBB731;
    border-radius: 5px;
    border: 1px solid #FBB731;
    transition: 0.3s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu {
    padding-top: 20px;
}
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}
.menu-title {
    font-weight: 700;
    font-size: 44px;
    margin: 0;
    line-height: 56px;
    text-transform: uppercase;
    color: #1B2A49;
}
.menu-select {
    flex-basis: 279px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 22px;
    padding: 10px 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #443737;
    appearance: none;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 100px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;   
    text-align: center;
    color: #1B2A49;
    margin-top: 21px;
    margin-bottom: 5px;
}
.menu-grid-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #979797;
    margin-top: 0;
    margin-bottom: 20px;
}
.menu-grid-btn {
    margin: 0 auto;
    min-width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FBB731;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.menu-grid-btn:hover {
    background-color: #F37335;
}
.menu-grid-icon {
    margin: 0;
    width: 18px;
    height: 18px;
    background: url(../images/cart-menu.svg);
    margin-top: 7px;
    margin-bottom: 7px;
}
.menu-grid-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
}
.additionally {
    margin-bottom: 139px;
}
.footer {
    background: #1E2F40;
    color: #FFFFFF;
    padding-top: 117px;
    padding-bottom: 106px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    display: block;
    background-image: url(../images/footer/logo-footer.svg);
    width: 63px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-item h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 0px;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    color: #FAF9F9;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;  
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    font-size: 15px;
    font-weight: 400;
    color: #DEDEDE;
    display: block;
}
.footer-list-tel li {
    margin-bottom: 2px;
}
.footer-list-tel a {
    font-weight: 900;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
    transition: 0.3s;
}
.footer-list-tel a:hover {
    color: #DEDEDE;
}
.footer-list {
    padding-left: 0;
    margin-top: -4px;
    list-style-type: none;
}
.button-up {
    display: block;
    background-image: url(../images/page-up1.svg);
    width: 58px;
    height: 57px;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    bottom:240px;
    right: 25px;
    transition: 1.5s;
}
.button-up:hover {
    background-image: url(../images/page-up2.svg);
    transform: scale(1.1);
    transition: 0.3s;
}
.button-up.hidden {
    opacity: 0;
}
.button-up visible {
    opacity: 1;
} 



/*Style INDEX*/
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%); 
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    margin-top: 170px;
    margin-bottom: 170px;
}
.content-title {
    font-size: 118px;
    font-weight: 800;
    line-height: 140px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.content-title span {
    color: #FBB731;
    font-weight: 700;
    font-size: 30px;    
    line-height: 38px;  
    text-transform: uppercase;
    display: block;  
    margin-bottom: 13px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    color: #DEDEDE;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    margin-top: 32px;
    margin-bottom: 50px;
}
.content-link,
.promo a {
    color: #1E2F40;
    text-transform: uppercase;
    text-decoration: none;
    background: #FBB731;
    display: inline-block;
    border-radius: 5px;
    padding: 18px 47px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid;
    border-color: #FBB731;
    transition: 0.3s;
    } 
 .content-link:hover,
 .promo a:hover {
    color: #FBB731;
    background-color: transparent;
 }    
.visual-bg {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
}
.wrapper .bg {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    margin-top: 185px;
    margin-bottom: 182px;
}
.promo-left, 
.promo-right {
    flex: 0 0 49%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    box-sizing: border-box;
}
.promo-left {
    background-image:url(../images/index/promobg-left.png);
    padding: 117px 50px;
}
.promo-right {
    background-image:url(../images/index/promobg-right.png);
    padding: 104px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    border-radius: 14px;
    padding: 5px 18px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 7px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 12px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 0;
}
